@font-face {
  font-family: montserrat;
  src: url(../../font/Montserrat-Regular.ttf); }

.index-page section article {
  text-align: center; }
  .index-page section article .btn {
    margin-right: 10px;
    margin-left: 10px; }

.search-page section article {
  width: 97%;
  background-color: #000C66;
  border-radius: 20px;
  padding-top: 20px;
  padding-bottom: 20px; }
  .search-page section article h1 {
    text-align: center; }

@media (min-width: 1000px) {
  .search-page section article {
    width: 600px; } }

.active-page section article {
  height: 100%; }
  .active-page section article .top {
    background-color: #000C66;
    padding: 12px;
    text-align: center;
    position: fixed;
    z-index: 99;
    width: 100%; }
    .active-page section article .top p {
      font-size: 24px;
      display: inline-block;
      padding: 2px; }
      .active-page section article .top p:last-of-type {
        font-weight: bold;
        background-color: #5BC0EB; }
  .active-page section article .bottom {
    position: fixed;
    z-index: 99;
    width: 100%;
    height: fit-content;
    bottom: 0;
    left: 0; }
    .active-page section article .bottom .btn {
      margin-bottom: 10px;
      width: 75px;
      height: 75px;
      cursor: pointer; }
      .active-page section article .bottom .btn i {
        font-size: 30px; }
    .active-page section article .bottom .chat {
      background-color: rgba(0, 12, 102, 0.6);
      padding-top: 40px; }
      .active-page section article .bottom .chat .messages {
        max-height: 240px;
        overflow-y: scroll; }
        .active-page section article .bottom .chat .messages .message {
          position: relative;
          padding: 5px;
          max-width: 500px;
          margin: auto; }
          .active-page section article .bottom .chat .messages .message .profile, .active-page section article .bottom .chat .messages .message p {
            display: inline-block; }
          .active-page section article .bottom .chat .messages .message .profile {
            position: relative;
            background-color: #5BC0EB;
            border-radius: 50%;
            width: 50px;
            height: 50px; }
            .active-page section article .bottom .chat .messages .message .profile p {
              position: absolute;
              left: 50%;
              top: 50%;
              transform: translate(-50%, -50%);
              width: fit-content;
              font-weight: bold;
              color: white;
              background-color: transparent; }
          .active-page section article .bottom .chat .messages .message .text {
            position: absolute;
            top: 50%;
            transform: translateY(-50%);
            background-color: white;
            color: black;
            margin-left: 10px;
            width: 75%;
            padding: 10px;
            border-radius: 5px; }
      .active-page section article .bottom .chat .textbox {
        position: relative;
        height: 60px; }
        .active-page section article .bottom .chat .textbox input {
          display: inline-block;
          position: absolute;
          top: 50%;
          left: 50%;
          transform: translate(-50%, -50%); }
        .active-page section article .bottom .chat .textbox input[type=text] {
          width: 69%;
          margin: 0;
          font-size: 16px;
          height: 25px;
          left: 39%; }
        .active-page section article .bottom .chat .textbox #send-btn {
          background: #5BC0EB url("./../../media/send.svg") no-repeat center;
          width: 80px;
          background-size: 40%;
          margin: 0;
          left: 88%; }
      .active-page section article .bottom .chat .btn {
        width: 30px;
        height: 30px;
        position: absolute;
        left: 90%;
        top: 6%;
        transform: translate(-50%, -50%); }
        .active-page section article .bottom .chat .btn i {
          font-size: 26px; }
  .active-page section article #map {
    height: 100%;
    width: 100%;
    z-index: -99; }
    .active-page section article #map .user-marker {
      width: 25px;
      height: 25px;
      border-radius: 50%;
      background: red; }
    .active-page section article #map .other-user-marker {
      width: 25px;
      height: 25px;
      border-radius: 50%;
      background: #5BC0EB; }

* {
  scroll-behavior: smooth;
  margin: 0;
  padding: 0;
  font-family: montserrat; }

h1 {
  font-size: 34px; }

html, body {
  height: 100%;
  color: white;
  overflow: hidden; }

section {
  width: 100%;
  height: 100%;
  position: relative; }
  section article {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 100%; }

form input {
  display: block;
  margin: auto;
  margin-top: 20px;
  margin-bottom: 10px;
  font-size: 22px;
  border-radius: 5px;
  border: 1px solid #5BC0EB;
  padding: 10px; }

form input[type=submit] {
  color: white;
  background-color: #5BC0EB;
  border: none; }
  form input[type=submit]:hover {
    cursor: pointer;
    background-color: #C3423F; }

body {
  position: relative; }
  body .bg-image {
    opacity: 0.3;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    width: 100%;
    height: 100%;
    background-image: url(../../media/background-index.png);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover; }

.btn {
  display: inline-block;
  position: relative;
  background-color: #5BC0EB;
  border-radius: 10px;
  height: 100px;
  width: 100px; }
  .btn i {
    font-size: 36px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: white; }
    .btn i.fa-plus {
      font-size: 44px; }
  .btn:hover {
    background-color: #C3423F; }
  .btn.round {
    border-radius: 50%;
    width: 50px;
    height: 50px;
    margin-left: 15px; }
    .btn.round i {
      font-size: 26px; }
