.active-page {
    section {
        article {
            height: 100%;

            .top {
                background-color: $background-color;
                padding: 12px;
                text-align: center;
                position: fixed;
                z-index: 99;
                width: 100%;

                p {
                    font-size: 24px;
                    display: inline-block;
                    padding: 2px;

                    &:last-of-type {
                        font-weight: bold;
                        background-color: $primary-color;
                    }
                }
            }
            .disclaimer {
                position: absolute;
                top: 12.5%;
                left: 50%;
                transform: translate(-50%, -50%);
                width: fit-content;
                height: 20px;
                background-color: $primary-color;
                z-index: 99;
                padding: 10px;
                border-radius: 20px;
                box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
                
                p {
                    font-weight: bold;
                    white-space: nowrap;
                }
                &:hover {
                    background-color: $secondary-color;
                    cursor: pointer;
                }
            }
            .bottom {
                position: fixed;
                z-index: 99;
                width: 100%;
                height: fit-content;
                min-height: 90px;
                bottom: 0;
                left: 0;
                text-align: left;
                pointer-events: none;
                
                .btn {
                    margin: 0;
                    width: 75px;
                    height: 75px;
                    cursor: pointer;
                    position: absolute;
                    top: 40%;
                    left: 12.5%;
                    transform: translate(-50%, -50%);
                    pointer-events: auto;

                    i {
                        font-size: 30px;
                    }
                    &:nth-of-type(1) {
                        left: 15%;
                    }
                    &:nth-of-type(2) {
                        left: 85%;
                    }
                    &:nth-of-type(3) {
                        left: 85%;
                    }
                    &.small {
                        width: fit-content;
                        height: fit-content;
                        background-color: $secondary-color;
                        top: 60%;
                        left: 50%;
                    }
                }
                .chat {
                    background-color: rgba($color: $background-color, $alpha: 0.6);
                    padding-top: 10px;
                    pointer-events: auto;

                    .messages {
                        max-height: 240px;
                        max-width: 510px;
                        margin: auto;
                        overflow-y: scroll;
                        
                        .message {
                            position: relative;
                            padding: 5px;
                            max-width: 500px;
                            height: fit-content;
                            margin: auto;
                            display: flex;
                            flex-wrap: nowrap;
                            
                            .profile, p {
                                display: inline-block;
                            }
                            .profile {
                                position: relative;
                                border-radius: 50%;
                                width: 50px;
                                height: 50px;

                                p {
                                    position: absolute;
                                    left: 50%;
                                    top: 50%;
                                    transform: translate(-50%, -50%);
                                    width: fit-content;
                                    font-weight: bold;
                                    color: white;
                                    background-color: transparent;
                                }
                            }
                            .text {
                                background-color: white; 
                                color: black;
                                margin-left: 15px;
                                width: 75%;
                                padding: 10px;
                                border-radius: 5px;
                            }
                        }
                    }
                    .textbox {
                        position: relative;
                        height: 60px;
                        max-width: 500px;
                        margin: auto;

                        input {
                            display: inline-block;
                            position: absolute;
                            top: 50%;
                            left: 50%;
                            transform: translate(-50%, -50%);
                        }
                        input[type=text] {
                            width: 69%;
                            margin: 0;
                            font-size: 16px;
                            height: 25px;
                            left: 39%;
                        }
                        #send-btn {
                            background: $primary-color url('./../../media/send.png') no-repeat center;
                            width: 80px;
                            background-size: 40%;
                            margin: 0;
                            left: 88%;
                        }
                    }
                    .btn-container {
                        width: 100%;
                        max-width: 510px;
                        margin: auto;
                        margin-bottom: 10px;
                        text-align: right;
                        
                        .btn {
                            width: 30px;
                            height: 30px;
                            background-color: $secondary-color;
                            margin: 0;
                            margin-right: 10px;
                            position: relative;
                            left: 0;
                            top: 0;
                            transform: none;
    
                            i {
                                font-size: 26px;
                            }
                        }
                    }
                }
            }
            #map {
                height: 100%;
                width: 100%;
                z-index: -99;

                .user-marker, .other-user-marker {
                    position: relative;
                    width: 25px;
                    height: 25px;
                    border-radius: 50%;

                    &::before {
                        position: absolute;
                        top: 50%;
                        left: 50%;
                        transform: translate(-50%, -50%);
                        font-weight: bold;
                    }
                }
                .leaflet-popup-content-wrapper, .leaflet-popup-tip {
                    color: white;
                    background-color: $primary-color;

                    .leaflet-popup-content {
                        margin: 5px;

                        h3 {
                            text-align: center;
                        }
                    }
                }
                .leaflet-popup-close-button {
                    display: none;
                }
            }
        }
    }
}