.active-page {
    section {
        article {
            height: 100%;

            .top {
                background-color: $background-color;
                padding: 12px;
                text-align: center;

                p {
                    font-size: 24px;
                    display: inline-block;
                    padding: 2px;

                    &:last-of-type {
                        font-weight: bold;
                        background-color: $primary-color;
                    }
                }
            }
            #map {
                height: 100%;
                width: 100%;
            }
        }
    }
}
.user-marker {
    width: 25px;
    height: 25px;
    border-radius: 50%;
    background: red;
}
.other-user-marker {
    width: 25px;
    height: 25px;
    border-radius: 50%;
    background: $primary-color;
}