#camera, #camera-view, #camera-sensor, #camera-output {
    position: fixed;
    height: 100%;
    width: 100%;
    object-fit: cover;
}
#camera {
    .top {
        margin-top: 15px;
    }
}
#camera-trigger {
    width: fit-content;
    background-color: $primary-color;
    color: white;
    font-size: 16px;
    border-radius: 50%;
    border: none;
    padding: 15px 20px;
    text-align: center;
    box-shadow: 0 5px 10px 0 rgba(0,0,0,0.2);
    position: absolute;
    top: 92.5%;
    left: 50%;
    transform: translate(-50%, -50%);

    img {
        height: 50px;
        width: 50px;
    }
    &:hover {
        cursor: pointer;
        background-color: $secondary-color;
    }
}
.taken {
    z-index: 2;
}