.search-page {
    section {
        article {
            width: 97%;
            background-color: $background-color;
            border-radius: 20px;
            padding-top: 20px;
            padding-bottom: 20px;

            h1 {
                text-align: center;
            }
        }
    }
}
@media (min-width: 1000px) {
    .search-page {
        section {
            article {
                width: 600px;
            }
        }
    }
}