.btn {
    i {

        &.fa-plus {
            background: url('./../../media/icons/plus.svg') no-repeat center;
            width: 50%;
            height: 50%;
        }
        &.fa-magnifying-glass {
            background: url('./../../media/icons/magnifying-glass.svg') no-repeat center;
        }
        &.fa-chevron-left {
            background: url('./../../media/icons/chevron-left.svg') no-repeat center;
            width: 60%;
            height: 60%;
        }
        &.fa-message {
            background: url('./../../media/icons/message.svg') no-repeat center;
        }
        &.fa-layer-group {
            background: url('./../../media/icons/layergroup.svg') no-repeat center;
            width: 60%;
            height: 60%;
        }
        &.fa-location-dot {
            background: url('./../../media/icons/location-dot.svg') no-repeat center;
        }
        &.fa-xmark {
            background: url('./../../media/icons/xmark.svg') no-repeat center;
            width: 70%;
            height: 70%;
        }

        &.fa-check {
            background: url('./../../media/icons/check.svg') no-repeat center;
            width: 50%;
            height: 50%;
        }
    }
}
#remove-draggable-goal {
    i {
        &.fa-xmark {
            width: 55%;
            height: 55%;
        }
    }
}